# @format

BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Allman
ColumnLimit: 0
SortIncludes: Never
SeparateDefinitionBlocks: Always
AllowShortLambdasOnASingleLine: Always
LambdaBodyIndentation: OuterScope
