# @format

BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: All
AllowShortEnumsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Allman
ColumnLimit: 0
SortIncludes: Never
SeparateDefinitionBlocks: Always
AllowShortLambdasOnASingleLine: All
LambdaBodyIndentation: OuterScope
